'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Git Diff Plus'
      'submenu': [
        {
          'label': 'Move to Previous Diff',
          'command': 'git-diff-plus:move-to-previous-diff'
        }
        {
          'label': 'Move to Next Diff',
          'command': 'git-diff-plus:move-to-next-diff'
        }
        {
          'label': 'Toggle Diff List',
          'command': 'git-diff-plus:toggle-diff-list'
        }
        {
          'label': 'Rebuild Repository Cache',
          'command': 'git-diff-plus:rebuild-repository-cache'
        }
      ]
    ]
  }
]

'context-menu':
  'atom-text-editor': [
    {
      'label': 'Git Diff Plus',
      'submenu': [
        {
          'label': 'Move to Previous Diff',
          'command': 'git-diff-plus:move-to-previous-diff'
        }
        {
          'label': 'Move to Next Diff',
          'command': 'git-diff-plus:move-to-next-diff'
        }
        {
          'label': 'Toggle Diff List',
          'command': 'git-diff-plus:toggle-diff-list'
        }
      ]
    }
  ]
